<div class="container">
    <form method="post" class="form" action="{% url 'blog:create_post' %}">
        {% csrf_token %}
        <input type="text" class="form-control" name="title"
               placeholder="{{ post.title|default:'Заголовок' }}">
        <input type="text" class="form-control" name="content"
               placeholder="{{ post.content|default:'Содержание'}}">
        <label for="is_published">Опубликовать</label>
        <input type="checkbox" name="is_published">
        <br>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>