{% extends 'blog/base.html' %}

{% block content %}
<main class="container py-4">

    <!-- Карточка с деталями модели -->
    <div class="card shadow-sm mb-5">
        <div class="card-body">
            <h1 class="card-title">{{ post.title }}</h1>
            <p class="card-subtitle mb-2 text-muted">
                Создана: {{ post.created_at|date:"Y-m-d H:i" }}
            </p>
            <p class="card-text mt-3">
                {{ post.content }}
            </p>
            <div class="mt-4 d-flex gap-2">
                <a href="{% url 'blog:post_list' %}" class="btn btn-secondary">
                    ← Все модели
                </a>
                <button onclick="window.location.href='{% url 'blog:delete_post' post.id %}'"
                        class="btn btn-outline-danger" type="submit">Удалить
                </button>
            </div>
        </div>
    </div>

    <!-- Карточка с формой редактирования -->
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="card-title">Редактировать модель</h3>
            {% include 'blog/edit_post_form.html' %}
        </div>
    </div>

</main>
{% endblock %}
