{% extends 'blog/base.html' %}

{% block content %}
<main class="container py-4">
    <div class="card shadow-sm">
        <div class="card-body">
            {{ form.non_field_errors }}
            <h1 class="card-title">Создание поста</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
