<nav class="navbar navbar-expand-lg navbar-light"
     style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">PyRushBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
            <div class="nav-item active">
                <a class="nav-link" href="{% url 'blog:index' %}">Главная</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="{% url 'blog:post_list' %}">Все посты</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" href="{% url 'blog:contacts' %}">Связаться с нами</a>
            </div>

            {% if user.is_authenticated %}

            <div class="nav-item d-flex">
                <a href="{% url 'users:profile' user.pk %}" class="nav-link">{{ user }}</a>
            </div>
            <div class="nav-item d-flex">
                <form method="post" action="{% url 'users:logout' %}">
                    {% csrf_token %}
                    <input type="submit" value="Выйти" class="btn btn-primary">
                </form>
            </div>
            {% else %}
            <div class="nav-item d-flex">
                <a class="btn btn-primary"
                   href="{% url 'users:login' %}">Войти</a>
            </div>
            {% endif %}



        </div>
    </div>
</nav>