{% extends 'blog/base.html' %}

{% block content %}
<main class="container py-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="card-title">Удаление комментария</h1>
            <form method="post">
                {% csrf_token %}
                <p>Вы действительно хотите удалить комментарий "{{ comment.content }}"?</p>
                <button type="submit" class="btn btn-danger">Удалить</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}