{% extends 'blog/base.html' %}

{% block content %}
<main class="container py-4">
    <h1 class="mb-4">Все посты</h1>

    {% if user.is_authenticated %}
    <section class="mb-5">
        <button class="btn btn-primary" type="button"
                onclick="window.location.href='{% url 'blog:create_post' %}'">
            Добавить пост
        </button>
    </section>
    {% endif %}

    {% if posts.count == 0 %}
    <p class="text-muted">Пока нет постов</p>
    {% else %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for post in posts %}
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ post.title }} </h5>
                    <p>👀: {{ post.views }}</p>

                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ post.created_at}}
                    </h6>
                    {% if post.image %}
                    <div>
                        <img class="card-img-top"
                             src="{{ post.image.url }}"
                             alt="{{ post.title }}" width="10%">
                    </div>
                    {% endif %}
                    <p class="card-text flex-grow-1">
                        {{ post.content|truncatechars:60 }}
                    </p>

                    <div class="mt-3 d-flex justify-content-between">
                        <a href="{% url 'blog:post_detail' post.id %}"
                           class="btn btn-sm btn-primary">Подробнее</a>
                        {% if user.is_authenticated  %}
                        <a class="btn btn-sm btn-outline-danger"
                                href="{% url 'blog:post_delete' post.pk %}">
                            Удалить
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% include 'blog/post_paginator.html' %}
</main>
{% endblock %}
